/* 회원가입페이지 공통부분 */
.input-container {
  display: flex;
  flex-direction: column;
}

.input-container {
  gap: 24px;
  margin-bottom: 77px;
}

.message-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  padding: 8px 8px 0;
}

.message.info.invalid { color: $bg-red; }

/* ----------------------------------------------------------- */

/* 초기가입화면 */
.name-wrap {
  padding-top: 8px;
  text-align: left;
}

.input-box.name { width: 320px; }

.input-birth-wrap {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 16px 0;
}

.input-box.birth {
  width: 160px;
  padding-right: 34px;
}

.input-box.birth.month,
.input-box.birth.date {
  width: 140px;
}

label[for="birthYear"],
label[for="birthMonth"],
label[for="birthDate"] {
  position: relative;
}

label[for="birthYear"]::after,
label[for="birthMonth"]::after,
label[for="birthDate"]::after {
  position: absolute;
  content: "년";
  top: 25px;
  right: 24px;
  font-size: $body-md-font-size;
  font-weight: $medium-weight-500;
  color: $gray-500;
}
label[for="birthMonth"]::after { content: "월"; }
label[for="birthDate"]::after { content: "일"; }

/* --------------------------------------------------------- */

/* 비밀번호 입력 */
.password-form { margin-bottom: 105px; }


/* ---------------------------------------------------------- */


/* 이메일 인증 */

// .verify-container { display: none; }

// .verify-container.on { display: block; }

// .message.code { color: $bg-red }

// .send-btn.off { display: none; }
// .verify-btn { display: none; }
// .verify-btn.on { display: block; }

/* ---------------------------------------------------------- */

/* 가입 결과 */
.title-head { margin-bottom: 53px; }
.result-form { margin-bottom: 111px }
.result-box.join { margin: initial }
// .go-login { display: none; }
// .request-btn.off { display: block; }

/* ---------------------------------------------------------- */