// config
@import url("../scss/config/reset.scss");

// common
@import url("../scss/common/common.scss");

// component
@import url("../scss/components/footer.scss");

// screen
@import url("../scss/screen/account/login.scss");
@import url("../scss/screen/account/join.scss");
@import url("../scss/screen/account/find-account.scss");

// 반응형
@import url("../scss/media.scss");

.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading img {
  height: 152px;
}