// config
@import url("../scss/config/reset.scss");

// common
@import url("../scss/common/common.scss");

// component
@import url("../scss/components/header.scss");
@import url("../scss/components/footer.scss");
@import url("../scss/components/side-menu.scss");

// screen
@import url("../scss/screen/home.scss");

// account
@import url("../scss/screen/account/login.scss");
@import url("../scss/screen/account/join.scss");
@import url("../scss/screen/account/find-account.scss");

// admin
@import url("../scss/screen/admin/company-info.scss");
@import url("../scss/screen/admin/work-state.scss");


// 반응형
@import url("../scss/media.scss");

.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading img {
  height: 152px;
}