.profile-edit-btn {
  padding: 12px;
  height: auto;
  border-radius: 10px;
  font-size: $body-sm-font-size;
  letter-spacing: $letterspacing-2;
}

.terms-agree {
  ul {
    @include flex(column, null, null, 16px);
    @include font-style($caption-xs-font-size, $medium-weight-500, $linehight-150, null);
    color: #5284DB;
    span {
      cursor: pointer;
    }
    li {
      &:last-child {
        color: rgba(255, 22, 26, 0.8);
      }
    }
  }
}