.electric-card {
  @include grid-col(minmax(168px, 1fr) 440px, center, center, null);
  @include home-card;
  border-radius: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}

.electric-card.height { padding: 11px 14px; }


.list-right {
  @include flex(null, space-between, center, null);
}

.writer-info {
  width: 300px;
  @include flex(null, center, center, 12px);
  p {
    width: 150px;
    text-align: center;
    position: relative;
    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 1px;
      height: 19px;
      top: 1px;
      background-color: $gray-300;
    }
    &::before { left: -6px; }
    &::after { right: -6px; }
  }
}

.writer-name {
  @include flex(null, null, center, 4px);
  padding: 0 8px;
}

// 미디아
@media screen and (max-width: 1439px) {
  .electric-card.height {
    padding: 8px 14px;
  }
}