.electric-card, .contents-card {
  @include grid-col(null, center, center, null);
  @include home-card;
  border-radius: 10px;
}

.electric-card.height { padding: 11px 14px; }

.electric-card { grid-template-columns: minmax(168px, 1fr) 440px; }

.contents-card {
  grid-template-columns: minmax(475px, 1fr) 133px;
  gap: 12px;
  height: 65px;
  border-radius: 0;
  border-bottom: 1px solid $gray-200;
}

.electric-card:last-child, .contents-card:last-child { margin-bottom: 0; }

.list-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.writer-info, .writer-name {
  display: flex;
  align-items: center;
  padding: 0 8px;
}
.writer-info {
  width: 300px;
  justify-content: center;
  gap: 12px;
}
.writer-name { gap: 4px; }

.writer-info p {
  width: 150px;
  text-align: center;
  position: relative;
}

.writer-info p::before,
.writer-info p::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 19px;
  top: 1px;
  background-color: $gray-300;
}
.writer-info p::before { left: -6px; }
.writer-info p::after { right: -6px; }