.dashboard-box.vacation > .card-wrap { padding: 0 14px; }
.contents-card.vacation {
  width: 100%;
  min-width: 100%;
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contents-card.vacation .writer-name { padding: 0; }
.contents-card.vacation .writer-name span { font-size: $body-sm-font-size; }