/* 달력 */
.calender-card {
  @include flex(column, null, null, 6px);
  width: 100%;
  max-width: 300px;
  height: 100%;
  padding: 16px;
  border-radius: 10px;
  background-color: $bg-white;
}

.calender-head {
  @include flex(null, space-between, center, null);
  padding: 5px 6px;
  button {
    height: 16px;
    &:first-child {
      img {
        transform: rotate(180deg);
      }
    }
  }
}

.month-year {
  span {
    &:first-child {
      text-transform: capitalize;
      margin-right: 3px;
    } 
  }
}

.weekday {
  @include flex(null, center, center, 14px);
  padding: 11px 12px;
  @include captionXxs-m;
  color: $gray-600;
}

.weekday-wrap {
  @include flex(null, null, center, 13px);
  padding: 4px 8px;
}

.day-wrap {
  width: 25px;
  height: 25px;
  padding: 3px 0;
  border-radius: 50px;
  background-color: $bg-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1px;
  .date-num {
    @include captionXxs-m;
    color: $gray-800;
  }
  &.today {
    background-color: $main-color;
    .date-num {
      color: $bg-white;
    }
  }
  &.holiday {
    .date-num {
      color: $holiday-red;
    }
  }
  &.other-month {
    .date-num {
      opacity: 0.4;
    }
  }
  span {
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background-color: $main-color;
    color: transparent;
    font-size: 5px;
  }
}

.day-wrap.cal-today, .day-wrap.pick-date { background-color: $main-color; }
.day-wrap.cal-today .schedule-dot { background-color: $bg-white }
.day-wrap.pick-date .date-num,
.day-wrap.holiday.pick-date .date-num {
  color: $bg-white
}

/* 주, 월 단위 선택했을 때 효과 */
.weekday-wrap.select-week,
.days-container.select-month:not(.prev-day, .next-day){
  background-color: $main-color;
  border-radius: 10px;
}

.weekday-wrap.select-week .day-wrap,
.days-container.select-month .day-wrap { background-color: inherit; }
.weekday-wrap.select-week .date-num,
.days-container.select-month .date-num { color: $bg-white; }

// 리액트 캘린더
.react-calendar {
  width: 100%;
  max-width: 300px;
  height: 100%;
  padding: 16px;
  border-radius: 10px;
  background-color: $bg-white;
}

.react-calendar__navigation {
  @include flex(null, center, space-between, null);
}

.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button,
.react-calendar__navigation__arrow.react-calendar__navigation__next2-button {
  display: none;
}

.react-calendar__navigation__arrow.react-calendar__navigation__next-button,
.react-calendar__navigation__arrow.react-calendar__navigation__prev-button {
  background: url(/public/img/ic_move_in.svg) no-repeat center;
  width: 16px;
  height: 16px;
  color: transparent;
}

.react-calendar__navigation__arrow.react-calendar__navigation__prev-button {
  transform: rotate(180deg);
}

.react-calendar__tile.react-calendar__tile--now.react-calendar__month-view__days__day {
  background-color: $main-color;
  color: $bg-white;
}