/* 헤더 GNB 메뉴 */
header {
  position: relative;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

nav {
  height: 66px;
  padding: 14px 40px;
  background-color: $bg-white;
}
nav, .nav-left {
  @include flex(null, space-between, center, null)
}

.nav-left { gap: 32px; }

.gnb-logo { height: 28px; }

.gnb-logo img { height: 100%; }

.tab-menu-btn { display: none; }

nav ul {
  display: flex;
  align-items: center;
  padding: 14px 12px;
}

.gnb-menu-btn {
  display: inline-block;
  height: 43px;
  padding: 8px 16px;
  border-radius: 10px;
  background-color: $bg-white;
  line-height: 27px;
  @include font-style($body-md-font-size, $bold-weight-700, $linehight-150, $letterspacing-2);
  cursor: pointer;
}

.gnb-menu-btn.on {
  background-color: $main-color;
  color: $bg-white;
}

.profile-menu {
  display: flex;
  align-items: center;
  gap: 24px;
}

.gnb-icon {
  position: relative;
}

.gnb-icon.on::after {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  top: 3px;
  left: 3px;
  border-radius: 50%;
  background-color: $main-color;
}

// 미디어 설정
@media screen and (max-width: 1439px) {
  nav { padding: 14px 24px; }
  nav ul, .gnb-icon.invite {
    display: none;
  }
  .tab-menu-btn { display: block; }
}