.modal-warp {
  position: relative;
}

.invite-modal, .alarm-modal {
  position: absolute;
  right: 0;
  width: 280px;
  border-radius: 30px;
  background-color: $bg-white;
  box-shadow: $shadow;
  overflow: hidden;
  z-index: 100;
}

.invite-modal { margin-right: 207px; }
.alarm-modal { margin-right: 153px; }

.modal-inner {
  height: 294px;
  -ms-overflow-style: none;
  overflow: auto;
  padding: 10px;
  @include flex(column, null, null, 10px)
}
.modal-inner::-webkit-scrollbar{
  display:none;
}

.modal-inner.alarm {
  height: 346px;
}

.modal-head {
  @include flex(null, space-between, center, null);
  padding: 24px 28px 8px;
}

.modal-content {
  position: relative;
  padding: 14px 16px;
}
// .modal-content:not(:last-child)::after
.modal-content::after {
  position: absolute;
  content: "";
  width: 218px;
  height: 1px;
  bottom: -8px;
  background-color: $gray-200;
}

.alarm-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $main-color;
  align-self: flex-start;
}