.set-table {
  ul {
    @include flex(null, space-between, center, 12px);
    padding-bottom: 12px;
    border-bottom: 1px solid $gray-200;
    li {
      width: calc(100% - 50%);
      @include flex(null, space-between, center, null);
      @include captionXs-m;
      color: $gray-600;
      &:first-child {
        justify-content: flex-start;
        gap: 43px;
      }
    }
  }
}

.setting-container {
  padding-right: 14px;
}

.setting-wrap {
  margin-top: 16px;
  @include flex(null, space-between, center, 48px);
}

.set-work-time {
  @include flex(null, null, center, 8px)
}

.set-lunch-time {
  @extend .set-work-time;
}

.input-wrap {
  @extend .set-work-time;
  gap: 4px;
}