.lnb-container {
  width: 100%;
  background-color: $bg-white;
  padding: 40px 34px 0;
  border-right: 1px solid $gray-300;
}

.lnb-title {
  padding: 0 12px;
  margin-bottom: 32px;
}

.lnb, .lnb-submenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lnb-submenu {
  display: none;
  gap: 2px;
  margin-top: 4px;
}

.lnb-submenu.active {
display: block;
}

.lnb {
  .lnb-style {
    @include flex(null, space-between, center, null);
    padding: 6px 12px;
    border-radius: 10px;
    @include font-style($caption-xxs-font-size, $medium-weight-500, $linehight-150, null);
    background-color: $bg-white;
    cursor: pointer;
  }
}

.lnb {
  .lnb-menu-item {
    font-size: $caption-xs-font-size;
    font-weight: $bold-weight-700;
  }
}

.lnb svg {
  transform: rotate(90deg);
}

.lnb .lnb-menu-item.on,
.lnb-submenu .lnb-submenu-item.on {
  color: $main-color;
  background-color: $gray-200;
}