.red-msg-font {
  font-size: $caption-xs-font-size;
  color: $bg-red;
  text-align: left;
  padding: 8px 8px 0;
}

.gray-msg-font {
  font-size: $caption-xs-font-size;
  color: $gray-600;
}

.info {
  text-align: left;
  padding: 8px 8px 0;
}

// 마진 설정
.mb {
  margin-bottom: 24px;
}

.mt {
  margin-top: 24px;
}

// 폰트설정
.font-bold {
  font-weight: $bold-weight-700;
}

.font-medium {
  font-weight: $medium-weight-500;
}

.font-regular {
  font-weight: $regular-weight-400;
}

.display  {
  font-size: $display-font-size;
  line-height: $linehight-140;
  letter-spacing: $letterspacing-2;
}

.title-xl {
  font-size: $title-xl-font-size;
  line-height: $linehight-140;
}

.title-lg {
  font-size: $title-lg-font-size;
  line-height: $linehight-140;
}

.body-md {
  font-size: $body-md-font-size;
  line-height: $linehight-150;
  letter-spacing: $letterspacing-2;
}

.body-sm {
  font-size: $body-sm-font-size;
  line-height: $linehight-150;
  letter-spacing: $letterspacing-2;
}

.caption-xs {
  font-size: $caption-xs-font-size;
  line-height: $linehight-150;
}

.caption-xxs {
  font-size: $caption-xxs-font-size;
  line-height: $linehight-150;
}