// 폰트설정
@include generate-font-classes('display', $display-font-size, $linehight-140, $letterspacing-2);
@include generate-font-classes('titleXl', $title-xl-font-size, $linehight-140, $letterspacing-2);
@include generate-font-classes('titleLg', $title-lg-font-size, $linehight-150, $letterspacing-2);
@include generate-font-classes('bodyMd', $body-md-font-size, $linehight-150, $letterspacing-2);
@include generate-font-classes('bodySm', $body-sm-font-size, $linehight-150, $letterspacing-2);
@include generate-font-classes('captionXs', $caption-xs-font-size, $linehight-150);
@include generate-font-classes('captionXxs', $caption-xxs-font-size, $linehight-150);

.red-msg-font {
  font-size: $caption-xs-font-size;
  color: $bg-red;
  text-align: left;
  padding: 8px 8px 0;
}

.gray-msg-font {
  font-size: $caption-xs-font-size;
  color: $gray-600;
}

.red-font {
  color: $main-color;
}

.gray700-font {
  color: $gray-700;
}

.text-btn {
  @include textBtn-style()
}

.text-btn-mt {
  @include textBtn-style(true)
}

.info {
  text-align: left;
  padding: 8px 8px 0;
}

// 마진 설정
.mb {
  margin-bottom: 24px;
}

.mt {
  margin-top: 24px;
}

.input-wrap { margin-bottom: 16px; }

// 회사정보, 프로필 이미지 수정
.profile-edit, .profile-img-wrap {
  h1 {
    @include font-style($body-sm-font-size, $bold-weight-700, $linehight-150, $letterspacing-2);
    margin-bottom: 6px;
    padding-left: 4px;
  }
  .edit-img-input {
    display: none;
  }
  label[for^='edit'] {
    display: block;
    width: 160px;
    height: 160px;
    border-radius: 10px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

// 회사정보, 프로필 이미지 수정 인풋 묶음
.profile-img-wrap {
  margin-bottom: 24px;
  h1 {
    margin-bottom: 16px;
  }
  .img-wrap {
    width: 160px;
    height: 160px;
    border-radius: 10px;
    overflow: hidden;
    .profile-img {
      width: 100%;
      height: 100%;
    }
  }
}

// 모달 버튼 묶음
.btn-wrap {
  @include flex(null, null, center, 4px);
  margin-top: 12px;
}

// 프로필, 회사정보 페이지 인풋
.edit-info-wrap div:not(:last-child) {
  margin-bottom: 24px;
}