@use "variables" as *;

@mixin flex($col, $justi, $align, $gap) {
  display: flex;
  @if $col {
    flex-direction: column;
  }
  @if $justi {
    justify-content: $justi
  }
  @if $align {
    align-items: $align
  }
  @if $gap {
    gap: $gap
  }
}

@mixin grid-col($col, $justi, $align, $gap) {
  display: grid;
  @if $col {
    grid-template-columns: $col;
  }
  @if $justi {
    justify-content: $justi
  }
  @if $align {
    align-items: $align
  }
  @if $gap {
    gap: $gap
  }
}

@mixin home-card {
  margin-bottom: 8px;
  padding: 8px 14px;
  background-color: $bg-white;
}

@mixin font-style($size, $weight, $line, $letter) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line;
  letter-spacing: $letter;
}

@mixin display-b {
  @include font-style($display-font-size, $bold-weight-700, $linehight-140, $letterspacing-2)
}
@mixin display-m {
  @include font-style($display-font-size, $medium-weight-500, $linehight-140, $letterspacing-2)
}
@mixin display-r {
  @include font-style($display-font-size, $regular-weight-400, $linehight-140, $letterspacing-2)
}

@mixin titleXl-b {
  @include font-style($title-xl-font-size, $bold-weight-700, $linehight-140, $letterspacing-2)
}
@mixin titleXl-m {
  @include font-style($title-xl-font-size, $medium-weight-500, $linehight-140, $letterspacing-2)
}
@mixin titleXl-r {
  @include font-style($title-xl-font-size, $regular-weight-400, $linehight-140, $letterspacing-2)
}

@mixin titleLg-b {
  @include font-style($title-lg-font-size, $bold-weight-700, $linehight-140, $letterspacing-2)
}
@mixin titleLg-m {
  @include font-style($title-lg-font-size, $medium-weight-500, $linehight-140, $letterspacing-2)
}
@mixin titleLg-r {
  @include font-style($title-lg-font-size, $regular-weight-400, $linehight-140, $letterspacing-2)
}

@mixin bodyMd-b {
  @include font-style($body-md-font-size, $bold-weight-700, $linehight-150, $letterspacing-2)
}
@mixin bodyMd-m {
  @include font-style($body-md-font-size, $medium-weight-500, $linehight-150, $letterspacing-2)
}
@mixin bodyMd-r {
  @include font-style($body-md-font-size, $regular-weight-400, $linehight-150, $letterspacing-2)
}

@mixin bodySm-b {
  @include font-style($body-sm-font-size, $bold-weight-700, $linehight-150, $letterspacing-2)
}
@mixin bodySm-m {
  @include font-style($body-sm-font-size, $medium-weight-500, $linehight-150, $letterspacing-2)
}
@mixin bodySm-r {
  @include font-style($body-sm-font-size, $regular-weight-400, $linehight-150, $letterspacing-2)
}

@mixin captionXs-b {
  @include font-style($caption-xs-font-size, $bold-weight-700, $linehight-150, null)
}
@mixin captionXs-m {
  @include font-style($caption-xs-font-size, $medium-weight-500, $linehight-150, null)
}
@mixin captionXs-r {
  @include font-style($caption-xs-font-size, $regular-weight-400, $linehight-150, null)
}

@mixin captionXxs-b {
  @include font-style($caption-xxs-font-size, $bold-weight-700, $linehight-150, null)
}
@mixin captionXxs-m {
  @include font-style($caption-xxs-font-size, $medium-weight-500, $linehight-150, null)
}
@mixin captionXxs-r {
  @include font-style($caption-xxs-font-size, $regular-weight-400, $linehight-150, null)
}

@mixin textBtn-style($ismt:false) {
  display: inline-block;
  @include titleLg-r;
  color: $gray-700;
  @if $ismt == true {
    margin-top: 24px;
  }
}

@mixin font-class($size, $weight, $lineheight, $letterspacing: null) {
  @include font-style($size, $weight, $lineheight, $letterspacing);
}

// 폰트 클래스 생성
@mixin generate-font-classes($base-name, $font-size, $line-height, $letter-spacing: null) {
  .#{$base-name}-b {
    @include font-class($font-size, $bold-weight-700, $line-height, $letter-spacing);
  }

  .#{$base-name}-m {
    @include font-class($font-size, $medium-weight-500, $line-height, $letter-spacing);
  }

  .#{$base-name}-r {
    @include font-class($font-size, $regular-weight-400, $line-height, $letter-spacing);
  }
}

@mixin btn-style ($flex, $width, $height, $radius, $padding, $bg: $main-color) {
  @if $flex == flex {
    @include flex(null, center, center, 10px);
  }
  @if $width {
    width: $width;
  }
  @if $height {
    height: $height;
  }
  @if $radius {
    border-radius: $radius;
  }
  @if $padding {
    padding: $padding;
  }
  background-color: $bg;

  @if $bg == $main-color {
    color: $bg-white;
  }
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

@mixin modal-btn-style ($width, $height) {
  width: $width;
  height: $height;
  border-radius: 3px;
  padding: 2px 6px;
  background-color: $main-color;
  color: $bg-white;
  @include captionXxs-m;
}

@mixin sub-btn-class ($base-name, $width, $height) {
  .sub-btn-#{$base-name} {
    @include modal-btn-style($width, $height)
  }
}

@mixin sub-btn-cancel-style {
  background-color: $bg-white;
  border: 1px solid $gray-300;
  color: $bg-black;
}