$main-color: #FF5116;
$main-hover-color: #F04A13;
$bg-white: #FFFFFF;
$bg-black: #000000;
$bg-red: #FF3333;
$holiday-red: #FF0000;
$gray-800: #424242;
$gray-700: #616161;
$gray-600: #757575;
$gray-500: #9E9E9E;
$gray-400: #BDBDBD;
$gray-300: #E0E0E0;
$gray-200: #EEEEEE;
$gray-100: #F5F5F5;

$linehight-140: 140%;
$linehight-150: 150%;
$letterspacing-2: -0.02em;
$display-font-size: 32px;
$title-xl-font-size: 24px;
$title-lg-font-size: 20px;
$body-md-font-size: 18px;
$body-sm-font-size: 16px;
$caption-xs-font-size: 14px;
$caption-xxs-font-size: 12px;
$caption-xxxs-font-size: 10px;

$thin-weight-100: 100;
$extraLight-weight-200: 200;
$light-weight-300: 300;
$medium-weight-500: 500;
$regular-weight-400: 400;
$semibold-weight-600: 600;
$bold-weight-700: 700;
$extraBold-weight-800: 800;
$heady-weight-900: 900;

$shadow: 0 4px 4px rgba(0, 0, 0, 0.1);